extends layout

block content
  h1= title
  div(id="buttonGroup")
    button(id="streamBtn")="Stream Tweets"
    button(id="rulesBtn")="Rules"
  div(id='tweetStream')
  script(type="module" src='/javascripts/streamTweets.js')
