body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  height: 48px;
  width: 72px;
  margin: 2px;
}

input {
  height: 32px;
  margin: 2px;
}

#tweetBox {
  background-color: #00B7FF;
  border-radius: 6px;
  padding: 2px;
  margin:  5px 0 5px 0;
}

#buttonGroup {
  display: flex;
}
